<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/tailwind.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/uikit.min.css">
    <title>Document</title>
</head>
<body>
  <section class="bg-cover mb-[140px] bg-center headerPrimary z-10">
        <div class="border-b-2 mb-[150px] border-opacity-[.12]">
          <div class="uk-container uk-container-large navigation">     
          <div class="flex justify-between items-center pt-[12px] pb-[12px]">
              <p class="text-[#fff] text-[26px]">Ested</p>
             <div>
               <ul class="flex items-center list-none">
                 <li class="pt-[20px] pb-[20px] pl-[24px] pr-[24px] nav-link"><a href="#" class="text-[#fff]"> Bosh sahifa </a></li>
                 <li class="pt-[20px] pb-[20px] pl-[24px] pr-[24px]"><a href="#" class="text-[#fff]">Hizmatlarimiz </a> </li>
                 <li class="pt-[20px] pb-[20px] pl-[24px] pr-[24px]"><a href="#" class="text-[#fff]">Ishlarimiz </a> </li>
                 <li class="pt-[20px] pb-[20px] pl-[24px] pr-[24px]"><a href="#" class="text-[#fff]">Biz haqimizda</a>  </li>
                 <li><a href="#" class="text-[#fff]"> Kontaktlar</a></li>
               </ul>
              </div>
              <div class="flex items-center pb-[12px] text-[#fff]">
                <div class="flex items-center mr-[50px]">
                  <span class="uppercase text-[16px]">uz</span>
                  <img src="../assets/images/arrow-bottom.png" class="ml-[4px] w-[16px] h-[16px]" alt="Arrow bottom">      
                </div>

                <div class="flex items-center">
                  <img src="../assets/images/call.png" class="mr-[12px]" alt="Phone icon">
                  <span class="">97 374 21 12</span>
                </div>
              </div>
            </div>
          </div>    

        </div>

        <div class="uk-container uk-container-large heading-content text-[#fff] flex flex-nowrap">
          <div uk-grid>
            <div class="left-side uk-width-3-5 inline-block">
              <p class="text-[55px]">Biz bilan tashqi ko'rinishdagi
                kamchiliklarni bartaraf eting!</p>
               <p class="">Soch to’kilishi, soqol o’smasligi, ginekologiya va dermatonevrologiya bilan bog’liq muammolaringiz mavjudmi?
                Klinikamizga murojaat qiling va plastik operatsiyalar yordamida ushbu muammolardan bir umrga xalos bo’ling!</p> 
                <a href="#" class="text-[#fff]">
                  <p class="w-[160px] pt-[18px] pb-[18px] pl-[40px] pr-[40px] rounded-[50%] bg-[#3175D4] inline-block">Bog'lanish</p>
                </a>
            </div>
  
            <div class="right-side uk-width-1-3 flex relative"> 
              <img src="../assets/images/shadow.png" class="absolute w-[80%] top-[-40px] left-[50px]" alt="Demo video">
              <img src="../assets/images/mainImg.png" class="absolute w-[80%] top-[-30px] left-[50px]"  alt="Demo video">
            </div>
          </div>
        </div>
  </section>

  <section class="uk-container uk-container-large text-[#222222] mb-[120px] z-0">
    <div uk-grid> 
      <div class="uk-width-2-5  h-[200px]">
        <p class="font-bold text-[42px]">Hozirgi kunga kelib erishgan yutuqlarimiz</p>
            <p class="text-[18px]">Estet klinikasi sizning tashqi go’zalligingiz haqida qayg’uradi
              va ideallaringizga erishishingiiz uchun ko’maklashadi. Quyida
              siz markazimiz haqida aniq faktkardan xabardor bo’lishingiz 
              mumkin</p>
        </div>

        <div class="uk-width-1-5 h-[200px] ml-[10px]">
          <p class="font-bold leading-[120px] text-[80px] h-[120px]">12</p>  
          <p class="text-[20px]">Malakali shifokorlarimiz soni</p>
        </div>
        <div class="uk-width-1-5 h-[200px] ml-[10px]">
          <p class="font-bold leading-[120px] text-[80px] h-[120px]">4</p>  
          <p class="text-[20px]">Yuqori darajadagi xizmatlarimiz</p>
        </div>
        <div class="uk-width-1-5 h-[200px] ml-[10px]">
          <p class="font-bold leading-[120px] text-[80px] h-[120px]">1025+</p>  
          <p class="text-[20px]">Rozi mijozlarimiz soni  </p>
        </div>
    </div>


  </section>

    <section class="services h-[100vh] bg-cover bg-center pt-[72px] pb-[72px]">
      <div class="uk-container uk-container-small">
          <div class="headings flex items-center mb-[50px] flex-col">
            <p  class="text-[#fff] text-center text-[42px]">Xizmatlarimiz</p>
              <p class="text-[#fff] opacity-[.72] text-center w-[462px]">Estet klinikasi go’zallikka erishish borasida professional
                xizmat ko’rsatishni yo’lga qo’ygan va mijpzlarimiz roziligi 
                bizning maqsadimizdir</p>

          </div> 
          
          <div class="different-services uk-grid">
         <div class="uk-width-1-3 flex flex-col text-center items-center">
              <img src="../assets/images/service1.png" class="border-[10px] rounded-[50%] border-[#00000] border-opacity-[.12]" alt="Service 1"> 
              <p class="text-[20px] font-bold text-[#fff]">Soch, soqol ekish</p>
              <p class="text-[16px] mt-[-12px]">Soch o'smasligini butunlay bartaraf etadi</p>
              <a href="#" class="text-[#fff]">
                <p class=" pt-[18px] pb-[18px] pl-[40px] pr-[40px] rounded-[50%] hover:bg-[#3175D4] hover:border-transparent bg-transparent border-[2px] border-[#fff] flex items-center">
                  Batafsil &RightArrow;</p>
              </a>
            </div>
            <div class="uk-width-1-3 flex flex-col text-center items-center">
              <img src="../assets/images/service2.png" class="border-[10px] rounded-[50%] border-[#00000] border-opacity-[.12]" alt="Service 1"> 
              <p class="text-[20px] font-bold text-[#fff]">Lazer ginikologiyasi</p>
              <p class="text-[16px] mt-[-12px]">Lazer yordamida ginikologik 
                muolajalar amalga oshiriladi</p>
                <a href="#" class="text-[#fff]">
                  <p class=" pt-[18px] pb-[18px] pl-[40px] pr-[40px] rounded-[50%] hover:bg-[#3175D4] hover:border-transparent bg-transparent border-[2px] border-[#fff] flex items-center">
                    Batafsil &RightArrow;</p>
                </a>
            </div>
            <div class="uk-width-1-3 flex flex-col text-center items-center">
              <img src="../assets/images/service3.png" class="border-[10px] rounded-[50%] border-[#00000] border-opacity-[.12]" alt="Service 1"> 
              <p class="text-[20px] font-bold text-[#fff]">Dermatovenerologiya</p>
              <p class="text-[16px] mt-[-12px]">Dermatonevrologiya bilan bog’liq
                muammolar bartaraf etiladi</p>
                <a href="#" class="text-[#fff]">
                  <p class=" pt-[18px] pb-[18px] pl-[40px] pr-[40px] rounded-[50%] hover:bg-[#3175D4] hover:border-transparent bg-transparent border-[2px] border-[#fff] flex items-center">
                    Batafsil &RightArrow;</p>
                </a>
            </div>

          </div>
           
      </div>
    </section>

    <section class="about h-[100%] pt-[120px] pb-[120px]">
        <div class="uk-container uk-container-small">
          <div class="uk-grid-small" uk-grid>

            <div class="uk-width-1-2">
              <img src="../assets/images/clinicOperation.png" class="h-[394px] w-[100%]" alt="operation">
            </div> 
            <div class="uk-width-1-2">
              <p class="text-[#22222] text-[30px] font-bold">Estet klinikasi haqida</p>
                <p class="text-[#22222] text-opacity-[.72]">Bizning tibbiy xizmatlarimiz inson sog’ligi va tashqi ko’rinishidagi muammolarni yechishga va turmush tari sifatini yaxshilashga qaratilgan.</p>
              <img src="../assets/images/labaratory.png" class="h-[248px] mt-[-10px]" alt="operation">
            </div>
            <div class="uk-width-1-3">
              <img src="../assets/images/operation2.png" alt="operation">
              <a href="#" class="text-[#fff] flex justify-center mt-[70px] items-center">
                <p class="w-[218px] text-center pt-[18px] pb-[18px] pl-[40px] pr-[40px] rounded-[50%] bg-[#3175D4]">
                  Barchasini ko'rish</p>
              </a>
            </div> 
            <div class="uk-width-2-3">
              <img src="../assets/images/pharma.png" class="" alt="Remedies">
            </div>  

          </div>
        </div>
    </section>

    <section class="difference h-[100%] pt-[140px] pb-[140px]">
        <div class="uk-container uk-container-large text-[#fff]">
          <div class="uk-grid" uk-grid>
              <div class="uk-width-1-2">
                <p class="text-[36px] font-bold pr-[150px]">Bizning boshqa klinikalardan
                  ustunliklarimiz va farqli
                  jihatlarimiz</p>
                  <p class="text-[18px] text-[#fff] pr-[150px] text-opacity-[0.72]">Estet klinikasi go’zallik borasida insonlarning ideallariga
                    erishishlari uchun xizmat ko’rsatadi va har bir inson o’zi 
                    istagan tashqi ko’rinishga erishishiga ko’maklashadi. Biz 
                    1025 dan ortiq mijozlarning roziligiga erishganmiz va 
                    bunga quyidagi ustunliklarimiz va farqlarimiz sabab bo’lgan.</p>
              </div>

              <div class="uk-width-1-2">
                <div uk-grid>
                  <div class="uk-width-1-2">
                    <div class="content">
                      <img src="../assets/images/qadryatlar1.png" class="border-[10px] rounded-[50%] border-[#00000] border-opacity-[.12]" alt="1 chi ">
                      <p class="font-bold">Bemorni aldamaslik</p>
                      <p class="text-[#fff] text-opacity-[0.72]">Biz hech qachon bemorlarni aldamaymiz va barcha narsani qanday bo’lsa shunday tushuntiramiz</p>
                    </div>
                    <div class="content">
                      <img src="../assets/images/qadryatlar1.png" class="border-[10px] rounded-[50%] border-[#00000] border-opacity-[.12]" alt="1 chi ">
                      <p class="font-bold">Doimiy izlanish</p>
                      <p class="text-[#fff] text-opacity-[0.72]">
                        Mutaxassislarimiz bir joyda qotib qolishmaydi va o’z ustlarida doimiy izlanishda bo’ladilar</p>
                    </div>
                    <div class="content">
                      <img src="../assets/images/qadryatlar1.png" class="border-[10px] rounded-[50%] border-[#00000] border-opacity-[.12]" alt="1 chi ">
                      <p class="font-bold">Natijaga ishlash</p>
                      <p class="text-[#fff] text-opacity-[0.72]">
                        Faqat natija uchun ishlaymiz. Hech narsaga oddiy yondashikmaydi, bizni faqat natija qiziqtiradi.</p>
                    </div>
                  </div>
                  <div class="uk-width-1-2">
                    <div class="content">
                      <img src="../assets/images/qadryatlar1.png" class="border-[10px] rounded-[50%] border-[#00000] border-opacity-[.12]" alt="1 chi ">
                      <p class="font-bold">Professionallik</p>
                      <p class="text-[#fff] text-opacity-[0.72]">
                        Har bir jarayon, operatsiya va muolaja yuqori professionallikka asoslangan holda amlaga oshiriladi</p>
                    </div>
                    <div class="content">
                      <img src="../assets/images/qadryatlar1.png" class="border-[10px] rounded-[50%] border-[#00000] border-opacity-[.12]" alt="1 chi ">
                      <p class="font-bold">Tajriba</p>
                      <p class="text-[#fff] text-opacity-[0.72]">
                        Shifokorlarimiz ko’p yillik tajribaga ega vachet elda doimiy ravishda malaka oshiradilar</p>
                    </div>
                    <div class="content">
                      <img src="../assets/images/qadryatlar1.png" class="border-[10px] rounded-[50%] border-[#00000] border-opacity-[.12]" alt="1 chi ">
                      <p class="font-bold">Halollik va samiymilik</p>
                      <p class="text-[#fff] text-opacity-[0.72]">Biz o’z ishimizga sadoqat bilan yondashamiz, halollik va samimiylik prinsiplariga amal qilamiz</p>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
    </section>

    <section class="strategy h-[100%] py-[140px] uk-container uk-container-large">
      <div class="flex items-center flex-col mb-[50px]">
        <p class="text-[#222222] text-center text-[36px] font-bold">Harakatlar ketma-ketligi</p>
        <p class="text-[18px] text-[#222222] mt-[-15px] text-center w-[480px] flex items-center">
          It was popularised in the 1960s with the release of Letraset sheets containing passages, and more recently</p>
      </div>
      <div class="uk-grid text-[#222222]" uk-grid>
        <div class="uk-width-1-5">
            <img src="../assets/images/01.png" alt="01">
              <p class="text-[26px] font-bold">Bemorni kutib olish</p>
              <p class="text-[18px] mt-[-12px] px-[10px]">Bemorni kutib olamiz va jarayonni to’liq tushuntirib o’tamiz</p>
          </div>
          <div class="uk-width-1-5 transform translate-y-[-50px]">
            <img src="../assets/images/02.png" alt="02">
              <p class="text-[26px] font-bold">Bemorni kutib olish</p>
              <p class="text-[18px] mt-[-12px] px-[10px]">Bemorni kutib olamiz va jarayonni to’liq tushuntirib o’tamiz</p>
          </div>
          <div class="uk-width-1-5">
            <img src="../assets/images/03.png" alt="03">
              <p class="text-[26px] font-bold">Bemorni kutib olish</p>
              <p class="text-[18px] mt-[-12px] px-[10px]">Bemorni kutib olamiz va jarayonni to’liq tushuntirib o’tamiz</p>
          </div>
          <div class="uk-width-1-5  transform translate-y-[-50px]">
            <img src="../assets/images/04.png" alt="04">
              <p class="text-[26px] font-bold">Bemorni kutib olish</p>
              <p class="text-[18px] mt-[-12px] px-[10px]">Bemorni kutib olamiz va jarayonni to’liq tushuntirib o’tamiz</p>
          </div>
          <div class="uk-width-1-5">
            <img src="../assets/images/05.png" alt="05">
              <p class="text-[26px] font-bold">Bemorni kutib olish</p>
              <p class="text-[18px] mt-[-12px] px-[10px]">Bemorni kutib olamiz va jarayonni to’liq tushuntirib o’tamiz</p>
          </div>
      </div>
      <div class="flex items-center flex-col mt-[150px] mb-[50px]">
        <p class="text-[#222222] text-center text-[36px] font-bold">Mijozlarimiz fikri</p>
        <p class="text-[18px] text-[#222222] mt-[-15px] text-center w-[480px] flex items-center">
          Biz 1025+ rozi mijozlarga egamiz va ularning har birining ximzatlarimizdan
            rozi bo’lgan holatda ketishlariga intilamiz</p>
      </div>

      <img src="../assets/images/testimonials.png" alt="Testimonials">
        <div class="flex flex-col items-center justify-center">
          <p class="text-[#222222] text-center w-[480px] text-[18px]">Men ushbu klinikaga murojaat qilganimda samimiy muhit, savollarga batafsil javob berish va professionallikka guvoh bo’ldim</p>
            <p class="font-bold text-[#1C314E] mt-[-10px]">Behzod Esonov</p>
            <p class="mt-[-20px]">(Mountain kompaniyasi asoschisi)</p>
        </div> 
    </section>

    <section class="contact bg-cover h-[100%] py-[52px] text-[#fff]">
          <div class="uk-container">
              <div class="uk-grid uk-grid-large items-center" uk-grid>
                <div class="uk-width-expand">
                  <p class="text-[32px] font-bold pr-[160px]">Qalin va jiloli sochlarga ega bo’lmoqchimisiz?
                    Buning yechimi “Estet”!</p>
                    <p class="text-[18px] pr-[160px] text-[#fff] text-opacity-[.72] ">Biz bilan siyrak sochlar, ularning to’kilishi va shu bilan bog’liq
                      muammolar bilan bir umrga xayrlashing!</p>
                  </div>

                  <div class="contact-form rounded-[12px] uk-width-1-3 px-[72px] py-[80px] bg-[#333] bg-opacity-[.72]">
                    <div class="nameInput flex flex-col">
                      <label for="name" class="pl-[25px] mb-[8px]">Ismingiz </label>    
                      <input type="text"  id="name" class="px-[30px] py-[15px] text-[#fff]"  placeholder="Huzayfa ibn Baxrom">
                    </div>
                    
                    <div class="nameInput flex flex-col mt-[32px]">
                      <label for="name" class="pl-[25px] mb-[8px]">Telefon raqamingiz  </label>    
                      <input type="text"  id="name" class="px-[30px] py-[15px] text-[#fff]"  placeholder="+998 9X XXX XX XX">
                    </div>  
                    <a href="#" class="text-[#fff] flex justify-center mt-[40px]">
                      <p class="w-[160px] pt-[18px] pb-[18px] pl-[40px] pr-[40px] rounded-[50%] bg-[#3175D4]">Bog'lanish</p>
                    </a>

                  </div>
              </div>
          </div>
    </section>
 
    <section class="faq h-[100%] py-[140px]">
        <div class="uk-container uk-container-small"> 
          <div class="flex items-center flex-col mb-[50px]">
            <p class="text-[#222222] text-center text-[36px] font-bold">Eng ko‘p beriladigan savollar</p>
            <p class="text-[18px] text-[#222222] mt-[-15px] text-center w-[480px] flex items-center">
              Biz quyida mijolzarimiz tomonidan eng ko’p beriladigan savollarga batafsil javob berib o’tdik!</p>
          </div>

          <div class="accardion"> 
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
              <li class="uk-parent ml-[100px] py-[20px] border-b-[2px]">
                <a href="#" class="text-[24px]"> Ko‘chirib o‘tkazilgan sochlar qayta to‘kilib ketmaydimi?  </a>
                  <ul class="uk-nav-sub w-[610px]">
                      Biz soch ko’chirib o’tkaziash operatsiyasini yuqori darajadagi, jahon talablariga javob beruvchi texnologiyalar yordamida o’tkazamiz va ko’chirib o’tkazilgan sochlarga tezda shikast yetmasligi, ularning to’kilib ketmasligi kafolatlanadi.
                  </ul>
              </li>

            </ul>
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
              <li class="uk-parent ml-[100px] py-[20px] border-b-[2px]">
                <a href="#" class="text-[24px]"> Ekilgan yoki ko‘chirib o‘tkazilgan sochlarga qancha kafolat berasiz?   </a>
                  <ul class="uk-nav-sub w-[610px]">
                      Biz soch ko’chirib o’tkaziash operatsiyasini yuqori darajadagi, jahon talablariga javob beruvchi texnologiyalar yordamida o’tkazamiz va ko’chirib o’tkazilgan sochlarga tezda shikast yetmasligi, ularning to’kilib ketmasligi kafolatlanadi.
                  </ul>
              </li>

            </ul>
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
              <li class="uk-parent ml-[100px] py-[20px] border-b-[2px]">
                <a href="#" class="text-[24px]"> Ko‘chirib o‘tkazilgan sochlar qayta chiqadimi?  </a>
                  <ul class="uk-nav-sub w-[610px]">
                      Biz soch ko’chirib o’tkaziash operatsiyasini yuqori darajadagi, jahon talablariga javob beruvchi texnologiyalar yordamida o’tkazamiz va ko’chirib o’tkazilgan sochlarga tezda shikast yetmasligi, ularning to’kilib ketmasligi kafolatlanadi.
                  </ul>
              </li>

            </ul>
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
              <li class="uk-parent ml-[100px] py-[20px] border-b-[2px]">
                <a href="#" class="text-[24px]"> Sochlar olingan joylar bilinmaydimi?  </a>
                  <ul class="uk-nav-sub w-[610px]">
                      Biz soch ko’chirib o’tkaziash operatsiyasini yuqori darajadagi, jahon talablariga javob beruvchi texnologiyalar yordamida o’tkazamiz va ko’chirib o’tkazilgan sochlarga tezda shikast yetmasligi, ularning to’kilib ketmasligi kafolatlanadi.
                  </ul>
              </li>

            </ul>
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
              <li class="uk-parent ml-[100px] py-[20px] border-b-[2px]">
                <a href="#" class="text-[24px]"> Qaysi metodda soch ko‘chirib o‘tkazasizlar?  </a>
                  <ul class="uk-nav-sub w-[610px]">
                      Biz soch ko’chirib o’tkaziash operatsiyasini yuqori darajadagi, jahon talablariga javob beruvchi texnologiyalar yordamida o’tkazamiz va ko’chirib o’tkazilgan sochlarga tezda shikast yetmasligi, ularning to’kilib ketmasligi kafolatlanadi.
                  </ul>
              </li>

            </ul>
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
              <li class="uk-parent ml-[100px] py-[20px] border-b-[2px]">
                <a href="#" class="text-[24px]"> Chandiqlar qolmaydimi?  </a>
                  <ul class="uk-nav-sub w-[610px]">
                      Biz soch ko’chirib o’tkaziash operatsiyasini yuqori darajadagi, jahon talablariga javob beruvchi texnologiyalar yordamida o’tkazamiz va ko’chirib o’tkazilgan sochlarga tezda shikast yetmasligi, ularning to’kilib ketmasligi kafolatlanadi.
                  </ul>
              </li>

            </ul>
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
              <li class="uk-parent ml-[100px]">
                <a href="#" class="text-[24px]"> Peresadkadan so‘ng asoratlar bo‘lmaydimi?  </a>
                  <ul class="uk-nav-sub w-[610px]">
                      Biz soch ko’chirib o’tkaziash operatsiyasini yuqori darajadagi, jahon talablariga javob beruvchi texnologiyalar yordamida o’tkazamiz va ko’chirib o’tkazilgan sochlarga tezda shikast yetmasligi, ularning to’kilib ketmasligi kafolatlanadi.
                  </ul>
              </li>

            </ul>
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
              <li class="uk-parent ml-[100px] py-[20px] border-b-[2px]">
                <a href="#" class="text-[24px]"> Sog‘ligimga soch ko‘chirib o‘tkazishning keyinchalik zarari yo‘qmi? </a>
                  <ul class="uk-nav-sub w-[610px]">
                      Biz soch ko’chirib o’tkaziash operatsiyasini yuqori darajadagi, jahon talablariga javob beruvchi texnologiyalar yordamida o’tkazamiz va ko’chirib o’tkazilgan sochlarga tezda shikast yetmasligi, ularning to’kilib ketmasligi kafolatlanadi.
                  </ul>
              </li>

            </ul>
          </div>

        </div>


    </section>

    <section class="footer h-[100%] bg-cover  text-[#fff]">
      <div class="border-b-[2px] border-[#fff] border-opacity-[.12] ">
          <div class="uk-container py-[72px]"> 

            <div class="uk-grid">
              <div class="uk-width-1-5">
                  <p class="font-bold text-[26px]">Ested</p>
                  <p class="text-[#fff] text-opacity-[.72]">Go’zallik ideallaringizga biz bilan erishing!</p>
              </div>
              <div class="uk-width-1-5">
                <p class="mt-[-14px] font-bold text-[#fff] text-opacity-[.42]">Websayt</p>
                <p class="mt-[-14px]">Hizmatlarimiz</p>
                <p class="mt-[-14px]">Ishlarimiz</p>
                <p class="mt-[-14px]">Biz haqimizda</p>
                <p class="mt-[-14px]">Kontaktlar</p>
              </div>
              <div class="uk-width-2-5">
                <p class="mt-[-14px] font-bold text-[#fff] text-opacity-[.42]">Bizning ish vaqtimiz </p>
                <p class="mt-[-14px]">Dush-Jum <span class="ml-[60px]">8.00 - 18.00</span></p>
                <p class="mt-[-14px]">Shanba <span class="ml-[78px]">8.00 - 18.00</span></p>
                <p class="mt-[-14px]">Yakshanba <span class="ml-[60px]">-</span></p>
              </div>
    
              <div class="uk-width-1-5 text-[#fff] text-opacity-[.42]">
                <p class="mt-[-14px] font-bold text-[#fff] text-opacity-[.42]">Aloqaga chiqing</p>
                  <p class="w-[250px] mt-[-14px] flex items-center"> 
                    <img src="../assets/images/map.png" class="mr-[20px]" alt="Map"> Estet klinikasining joylashuvi </p>
                  
                <p class="mt-[-14px] flex items-center"><img src="../assets/images/call.png" class="mr-[20px]" alt="Phone"> +998 97 312 21 12</p>
                <p class="mt-[-14px] flex items-center"><img src="../assets/images/sms-notification.png" class="mr-[20px]" alt="SMS"> Estetclinic@gmail.com</p>
              </div>
            </div>

          </div>
      </div>

      <div class="uk-container py-[40px]">
        <div class="flex justify-between items-center text-[#fff] text-opacity-[.56]">
          <p>&copy; 2021 Hi Baby Company</p>
          <p> MOUNTAIN IT & DESIGN</p>

        </div>
      </div>

    </section>

    <script src="../assets/js/uikit-icons.min.js"></script>
    <script src="../assets/js/uikit.min.js"></script>
    <script src="../assets/js/index.js"></script>

</body>
</html>